<form class="mt-4" method="post" action="{{ path('app_order_delete', {'id': order.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cer élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ order.id) }}">
    <button class="btn btn-danger px-4">Supprimer</button>
</form>
