{% extends 'admin/base.html.twig' %}

{% block title %}Nouveau Stock{% endblock %}

{% block body %}
    <h1>Creation Nouveau Stock</h1>

    {{ include('admin/stock/_form.html.twig') }}

{% endblock %}
