{% extends 'admin/base.html.twig' %}

{% block title %}Modification Type{% endblock %}

{% block body %}
<section class="type-edit">
    <div class="container">
        <h1>Modification Type</h1>
        {{ include('admin/type/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>
</section>
    

{% endblock %}
