{% extends 'admin/base.html.twig' %}

{% block title %}Nouveau Type{% endblock %}

{% block body %}
<section class="new-type">
    <div class="container">
        <h2>Création d'un nouveau Type</h2>
    
        {{ include('admin/type/_form.html.twig') }}

    </div>
</section>

{% endblock %}
