<form class="mt-4" method="post" action="{{ path('app_product_detail_delete', {'id': productDetail.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ productDetail.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
