{% extends 'base.html.twig' %}

{% block title %}Produit!{% endblock %}

{% block body %}
<section class="product">
    <div class="container">
        <h1 class="text-center mb-5 fw-bold">Nos Produits</h1>
            <div class="row">
                {% for product in products %}
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                    <div class="card product-card shadow">
                        <div class="product-description p-4">
                            <h4 class="text-center fw-bold mb-3"> {{product.title}} </h4>
                            <p class="text-center mb-4 mt-4"> {{product.description}} </p>
                            <div class="d-flex justify-content-center btn-product">
                               <a href="{{path('app_product_details_front', {'id' : product.id})}}" class="btn btn-sm btn-primary px-4">Afficher les détails</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    </div>
</section>
{% endblock %}
