{% extends 'admin/base.html.twig' %}

{% block title %}Nouveau Product{% endblock %}

{% form_theme form 'admin/product/_collection.html.twig' %}

{% block body %}
<section class="product-new">
    <div class="container">
        <h1>Creation de nouveau Product</h1>
        {{ include('admin/product/_form.html.twig') }}
    </div>
</section>
    
{% endblock %}
