<form class="mt-4" method="post" action="{{ path('app_color_delete', {'id': color.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer ce couleur?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ color.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
