<form class="mt-4" method="post" action="{{ path('app_brand_delete', {'id': brand.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimé cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ brand.id) }}">
    <button class="btn btn-danger px-4">Supprimer</button>
</form>
