{% extends 'admin/base.html.twig' %}

{% block title %}Modification Marque{% endblock %}

{% block body %}
<section class="brand-edit">
    <div class="container">
        <h1>Modification Genre</h1>

        {{ include('admin/brand/_form.html.twig', {'button_label': 'Modifier'}) }}
    
    </div>
</section>
    
{% endblock %}
